# 数据库物理数据（绝对不能上传，包含你的个人数据且体积巨大）
postgres_data/

# Mac 系统生成的索引文件
.DS_Store

# Python 自动生成的缓存文件夹
__pycache__/
*.py[cod]
*.class

# 虚拟环境文件夹（如果你用了 venv）
venv/
env/

# 环境配置文件（如果你以后把数据库密码写在 .env 里，这个文件必须忽略）
.env

# 编译或临时文件
*.log
